/*============ general settings ============*/
* {
    box-sizing: border-box
}

body {
    position: relative;
    font-family: Avenir, sans-serif;
    font-size: 13px;
    color: white;
    background-color: #060606;
    background-image: url("../content/background-img.svg");
    background-repeat:repeat;
    background-size: 10rem;
    background-attachment: fixed;
}

header {
    margin: 0 0 2em 0;
    background-color: #333333;
}

footer {
    margin: 5em 0 0 0;
    height: 7em;
    background-color: rgba(0, 0, 0, 0.6);
}

.theDivider {
    height: 10em;
    width: 100%;
}

.container-lg: {
    margin: 0;
}

main {
    margin: 10em 0 0 0;
}

/* hidden anchor settings for scrollspy with the fixed navbar */
.hidden-anchor {
    padding-top:10em;
    margin-top:-10em;
}


/*============ Text and header settings ============*/
p {
    margin: 0 0 3em 0;
}

div.carousel-caption p {
    margin: 0;
}

.caption {
    text-align: center;
    margin: 0.5em 0 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0 0 0.1em 0;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 0.3em 0;
}

/*============ multimedia settings ============*/
img {
    vertical-align: middle;
    width:100%;
}

nav a img {
    width: 3em;
}

/*============ Navbar settings ============*/

.fixed-top {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1em 3em;
    width: 100%;
}

#navbarNav {
    margin: 0 0 0 3em;
}

.nav-item {
    margin: 0 1em;
}


/*============ Slideshow Settings, valuable for all slideshows on this website ============*/
.carousel-control-next, .carousel-control-prev {
    width: 10%;
}

.triangle-prev {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.8em 1.8em 1.8em 0;
    border-color: transparent #ffffff transparent transparent;
}

.triangle-next {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2.8em 0 2.8em 2.8em;
    border-color: transparent transparent transparent #ffffff;
}

div.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-caption {
    bottom: 0;
    padding: 0.7% 0;
    height: 30px;
    width: 100%;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 0 0.5em 0;
}